html,body{
/* background-image: url('https://images.unsplash.com/photo-1557825835-a526494be845?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
font-size: 16px;
color: #333;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid blue;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

/* Add more styles based on your design requirements */


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add this to your doctor.css file */

#reportList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

#logout {
  background-color: #3498db; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s;
}

#logout:hover {
  background-color: #2980b9;
}

#openReportModalBtn{
  background-color: #3498db; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s;
}

#openReportModalBtn:hover {
  background-color: #2980b9;
}

.reportCard {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px; /* Set a fixed width or adjust according to your design */
  margin-bottom: 20px;
}

.reportCard p {
  margin: 5px 0;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-top: 30px;
    font-size: 36px;
    font-family: 'Your Preferred Font', sans-serif;
}


.editButton,
.deleteButton {
  background-color: #3498db; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s;
}

.deleteButton {
    background-color: #e74c3c;
  }

.editButton:hover,
.deleteButton:hover {
  background-color: #2980b9;
}

  .deleteButton:hover {
    background-color: #c0392b;
  }

/* Add this to your existing CSS */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: #007bff;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 4px;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
}

.pagination a.active {
  background-color: #007bff;
  color: #fff;
}

